<div class="main-content">
    <div class="container">
        <div class="menu">
            <div class="logo">
                <img src="./../../assets/guerrero.jpg" alt="logo">
            </div>
            <div class="menu-items">
                <div class="menu-item" routerLinkActive="active" [routerLink]="['register']">Registro de pagos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['search']">Búsqueda de pagos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['registry']">Registro de alumnos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['reports']">Generación de reporte</div>
            </div>
        </div>
        <div class="user-section">
            <div class="notifications">
                <img src="~/assets/bell.png" alt="Bell">
            </div>
            <div class="user-menu">
                <div class="user-image">
                    <img src="~/assets/avatar.jpg" alt="Avatar">
                </div>
                <div class="deploy-menu center">
                    <p class="user-name">
                        Kristen Stew...</p>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>