<div class="main-content">
    <div class="container">
        <div class="menu">
            <div class="logo">
                <div class="logo-image"></div>
            </div>
            <div class="menu-items">
                <div class="menu-item" routerLinkActive="active" [routerLink]="['register']">Registro de pagos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['search']">Búsqueda de pagos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['registry']">Registro de alumnos</div>
                <div class="menu-item" routerLinkActive="active" [routerLink]="['reports']">Generación de reporte</div>
            </div>
        </div>
        <div class="user-section">
            <div class="notifications">
                <div class="bell"  alt="Bell"> </div>
            </div>
            <div class="user-menu">
                <div class="user-image">
                    <div class="avatar" alt="Avatar"></div>
                </div>
                <div class="deploy-menu center">
                    <p class="user-name" style="margin: 0;">
                        Kristen Stewart</p>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>