<div class="main-content">
    <h2>Registro de Alumno</h2>
    <div class="form-container">
        <form class="example-form">
            <h3>Datos del alumno</h3>
            <div class="student-section">
                <div class="column">
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Nombre(s)</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field class="example-full-width">
                            <mat-label>Tipo de Sangre</mat-label>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of bloodType" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [matAutocomplete]="auto">
                        </mat-form-field>
                    </div>
                </div>
                <div class="column">
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Correo electrónico alternativo del alumno</mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <mat-form-field class="example-full-width">
                            <mat-label>Asignado al grupo</mat-label>
                            <mat-autocomplete #autos="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [matAutocomplete]="autos">
                        </mat-form-field>
                    </div>
                    <div class="form-item">
                        <img (click)="firstImage()" class="preview" #studentPreview>
                        <span style="display: block;" aria-label="foto">Foto actualizada</span>
                        <input #firstImageInput style="height: 0; width: 0; overflow: hidden;" name="foto" type="file" class="" accept="image/png, image/jpeg" multiple="false" (change)="selectedStudentFather($event.srcElement)">
                    </div>
                </div>
            </div>
            <h3>Datos del Padre o Tutor</h3>
            <div class="form-item pre-search center">
                <mat-slide-toggle (change)="searchParent($event.source.checked)" [checked]="searchForParents">Buscar
                    Padre de Familia registrado</mat-slide-toggle>
            </div>
            <div class="parents-section">
                <div *ngIf="searchForParents" class="parent-search">
                    <div class="form-item">
                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre del Padre o Tutor</mat-label>
                            <mat-autocomplete #autos="matAutocomplete">
                                <mat-option *ngFor="let option of fathers" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [matAutocomplete]="autos">
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="searchForParents == false" class="registry-parents">
                    <div class="column">
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Nombre(s)</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Teléfono Fijo</mat-label>
                                <input matInput type="number">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Teléfono Móvil</mat-label>
                                <input matInput type="number">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field>
                                <mat-label>Correo</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>
                        <div class="form-item" style="text-align: center;">
                            <img (click)="fatherImage()" class="preview" #fatherPreview>
                            <span aria-label="foto" style="display: block;">Foto actualizada</span>
                            <input #fatherImageInput (change)="selectedImageFather($event.srcElement)" style="height: 0; width: 0; overflow: hidden;" name="foto" type="file" accept="image/png, image/jpeg" multiple="false">
                        </div>
                    </div>
                </div>
            </div>
            <div class="complete-registry">
                <button type="button" [disabled]="registryIsDisabled">Registrar</button>
            </div>
        </form>
    </div>
</div>